

.chat-continer{
    position:  relative;
}

.chat-nav{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20%;
}


.chat-header{
    position: fixed;
    z-index: 1;
    height: 10vh;
    width: 80%;
}

.chat-group{
    position: relative;
    z-index: 0;
    height: 90vh;
    width: 80%;
}

.logo-img{
    position: absolute;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
}

.no-chat{
    position: relative;
    text-align: center;
    top: 35vh;
    color: var(--second-text-color);
    font-size: var(--text-font-size-xxl);
    opacity: 0.4;
}



    
    