
.navbar-continer{
    position: relative;
    height: 100%;
    background-color:var(--third-backgroud-color);
    border-left: 1px solid rgb(66, 66, 87);
}

.navbar-header{
    position: relative;
    text-align: center;
    padding: 8%;
    border-bottom: 3px solid rgba(53, 53, 58, 0.1);
    color: var(--second-text-color);
    display: flex;
    flex-direction: column;
}


.navbar-title-s{
    font-weight: 500;
    font-size: var(--text-font-size-s);
    margin-top: 2%; 
}


.navbar-groups{
    position: relative;
    right: 20px;
    margin-top: 10%;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items:center;

    height: 56vh;
    overflow: hidden;
    overflow-y: scroll;

}


.navbar-groups li {
    position: relative;
    margin-bottom: 10%;
}

.navbar-group-link{
    position: relative;
}

.active-chat{
    position: absolute;
    bottom: 7px;
    right: 10px;
    color: var(--second-text-color);
    font-size: var(--text-font-size-xs);
}


